.buttonsocial {
   
    margin: 1em 0; 
    width: 28vw !important;
    height: 7vh;
    

}

.my-facebook-button-class {
   
}

.link_b {
    text-decoration: none !important;
    color: black;
    
}